<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>charting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1031E641DD125FC001CCB10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1031E781DD125FC001CCB10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1031E831DD125FC001CCB10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
